# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.idea/
.vscode/

# OS generated
.DS_Store
Thumbs.db

# Project specific
model/*.pkl
*.csv